@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Oswald:wght@300&family=PT+Sans&family=Playfair+Display&family=Rubik+Burned&display=swap');
header{
    box-sizing: border-box;
    color:rgb(188, 216, 216);
    text-align: center;
    font-size: 150%;
    background-image: url(Kucing.png);
    border-radius: 5px; 
}
h1{
    margin-top: 0px;
}
h1,h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Colors{
    border:3px solid rgb(199, 192, 192);
    margin-left: 50px;
    margin-right:50px;
    
}
ul{
    padding-left: 15%;
}
.Colors ul li{
    display: inline-block;
    min-height:100%;
    min-width: 25%;
    margin:0px 0px 10px 10px;
    color:white;
    text-align: center;
}

ul .Blue{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #2d5dcc;
}
ul .Pink{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #d957d9;
}
ul .Green{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #4fe0b0;
}
ul .Beige{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #efd9ca;
}

h2{
    text-align:center ;
}
h3{
    margin-top:10%;
}
.Lemon p{
    font-family:'Lemon', serif;
    font-weight: lighter;
}
.Oswald p{
    font-family:'Oswald', sans-serif;
    font-weight: lighter;
}
.Playfair-Display p{
    font-family:'Playfair Display', serif;
    font-weight: lighter;
}
.Rubik-Burned p{
    font-family:'Rubik Burned', system-ui;
    font-weight: lighter;
}
.Fonts{
    margin-top:10px;
    border:3px solid rgb(199, 192, 192);
    margin-left: 50px;
    margin-right:50px;
}
.Fonts ul li{
    font-size: 100%;
    width: 90%;
    display: inline-block;
    list-style: none;
    margin:25px 0;
}
.Text ul li{

    min-height:100%;
    min-width: 25%;
    margin:0px 0px 10px 10px;
}
.h1 ul h2{
    text-align:left;
} 
.Text{
    border:3px solid rgb(199, 192, 192);
    margin-left: 50px;
    margin-right:50px;
}
.H1{
    font-family: 'Rubik Burned', system-ui;
    font-weight: bold;
    font-size: 26px;
}
.H2{
    font-family:'Playfair Display', serif;
    font-weight: lighter;
    font-size: 18px;
}
.P{
    font-family:'Oswald', sans-serif;
    font-weight: 400;
    font-size: 14px;
}